{% extends 'useraccount/base.html'%}
{% load static %}
{% load get %}

{% block title %}
    <title>我的成绩</title>
{% endblock %}

{% block head_extras %}
<link href=" {% static 'useraccount/css/base.css' %}" rel="stylesheet">
<link href=" {% static 'useraccount/css/user_detail.css' %}" rel="stylesheet">
<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/data.js"></script>
<script src="https://img.hcharts.cn/highcharts/modules/drilldown.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
{% endblock %}
{% block table %}
<br>
<br>
<div id="container" style="margin-left:320px; min-width: 250px; height: 300px;"></div>
<hr>
<p><button id='btn_download' style="margin-left:320px;" type="button" class="btn btn-lg btn-primary">下载</button>
</p>
<div class="row">
    <div style="margin-left:300px;" class="table-responsive">
        <table style="width: 100%;margin:auto" class="table table-striped">
            <thead>
                <tr>
                    <th colspan=4><strong>成绩汇总</strong></th>
                </tr>
                <tr>
                    <th>学年学期</th>
                    <th>门数</th>
                    <th>总学分</th>
                    <th>平均绩点</th>
                </tr>
            </thead>
            <tbody>
                {% for score in term_score %}
                <tr>
                    {% for x in score %}
                    <td>{{x }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    <td><strong>在校汇总</strong></td>
                    {% for score in all_score  %}
                    <td>{{score}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan=4><td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
        <div style="margin-left:300px;" class="table-responsive">
            <table style="width: 100%;margin:auto" class="table table-striped">
                <thead>
                    <tr>
                    <th colspan=14><strong>成绩列表</strong></th>
                    </tr>
                    <tr>
                        <th>学年学期</th>
                        <th>课程代码</th>
                        <th>课程编号</th>
                        <th>课程名称</th>
                        <th>课程类别</th>
                        <th>学分</th>
                        <th>期中成绩</th>
                        <th>期末成绩</th>
                        <th>平时成绩</th>
                        <th>补考成绩</th>
                        <th>总评成绩</th>
                        <th>实验成绩</th>
                        <th>最终</th>
                        <th>绩点</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in userscores %}
                    <tr>
                        <td>{{ score.course.school_term }}</td>
                        <td>{{ score.course.code }}</td>
                        <td>{{ score.course.numbering }}</td>
                        <td>{{ score.course.name }}</td>
                        <td>{{ score.course.category.name }}</td>
                        <td>{{ score.course.credit }}</td>
                        <td>{% if score.midterm %}{{ score.midterm }}{% endif %}</td>
                        <td>{% if score.final_exam %}{{ score.final_exam }}{% endif %}</td>
                        <td>{% if score.usual %}{{ score.usual }}{%endif%}</td>
                        <td>{% if score.retest %}{{ score.retest }}{% endif %}</td>
                        <td>{% if score.total_score %}{{ score.total_score }}{% endif %}</td>
                        <td>{% if score.experimental %}{{ score.experimental }}{% endif %}</td>
                        <td>{% if score.total_score %}{{ score.total_score }}{% endif %}</td>                        
                        <td>{% if score.points %}{{ score.points }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}

{% block js_extras %}
<script>
$(document).ready(function(){
  $("#btn_download").click(function(){
    window.location=('/useraccount/points/?download=True')
  });
  $('#achievement').addClass('active')
  $('li').click(function(){
    $(this).addClass('active').siblings().removeClass('active')
  })
});
$(function () {
    // Create the chart
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: '成绩分布'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: '人数'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}'
                }
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },
        series: [{
            name: '分布范围',
            colorByPoint: true,
            data: [{
                name: '不及格',
                y:  {% getnum userscores 'total_score' 0 59 %},
                drilldown: '0-59'
            }, {
                name: '良好',
                y: {% getnum userscores 'total_score' 60 89 %},
                drilldown: '60-89'
            }, {
                name: '优秀',
                y: {% getnum userscores 'total_score' 90 100 %},
                drilldown: '90-100'
            }, ]
        }],
        drilldown: {
            series: [{
                name: '0-59',
                id: '0-59',
                data: [
                    [
                        '0-9',
                        {% getnum userscores 'total_score' 0 9 %}
                    ],
                    [
                        '10-19',
                        {% getnum userscores 'total_score' 10 19 %}
                    ],
                    [
                        '20-29',
                        {% getnum userscores 'total_score' 20 29 %}
                    ],
                    [
                        '30-39',
                        {% getnum userscores 'total_score' 30 39 %}
                    ],
                    [
                        '40-49',
                        {% getnum userscores 'total_score' 40 49 %}
                    ],
                    [
                        '50-59',
                        {% getnum userscores 'total_score' 50 59 %}
                    ]
                ]
            }, {
                name: '60-89',
                id: '60-89',
                data: [
                    [
                        '60-69',
                        {% getnum userscores 'total_score' 60 69 %}
                    ],
                    [
                        '70-79',
                        {% getnum userscores 'total_score' 70 79 %}
                    ],
                    [
                        '80-89',
                        {% getnum userscores 'total_score' 80 89 %}
                    ],
                ]
            }, {
                name: '90-100',
                id: '90-100',
                data: [
                    [
                        '90-93',
                        {% getnum userscores 'total_score' 90 93 %}
                    ],
                    [
                        '94-96',
                        {% getnum userscores 'total_score' 94 96 %}
                    ],
                    [
                        '96-99',
                        {% getnum userscores 'total_score' 96 99 %}
                    ],
                    [
                        '100',
                        {% getnum userscores 'total_score' 100 100 %}
                    ],
                ]
            }, ]
        }
    });
});
</script>
{% endblock %}