{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            {% if not request.user.is_staff %}
                <li id='user_detail'><a href="{% url 'user_detail' %}">个人信息 </a></li>
                <li id='user_lesson'><a href="{% url 'user_lesson' %}">我的课表</a></li>
                <li id='achievement'><a href="{% url 'user_points' %}">我的成绩</a></li>
            {% else %}
                <li id='courses'><a href="{% url 'courses' %}">我的课程 </a></li>
                <li id='class_schedule'><a href="{% url 'class_schedule' %}">我的课表</a></li>
            {% endif %}
        </ul>
    </div>
    {% block table %}
    {% endblock %}
</div>
{% endblock %}