{% extends 'base.html'%}
{% load static %}

{% block head_extras %}
<link href=" {% static 'useraccount/css/base.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            {% block sidebar %}
            <li id='user_detail'><a href="{% url 'user_detail' %}">个人信息 </a></li>
            <li id='user_lesson'><a href="{% url 'user_lesson' %}">我的课表</a></li>
            <li id='achievement'><a href="{% url 'user_points' %}">我的成绩</a></li>
            {% endblock %}
        </ul>
    </div>
    {% block table %}
    {% endblock %}
</div>
{% endblock %}