{% extends 'base.html'%}
{% load static %}

{% block title %}
    <title>我的个人信息</title>
{% endblock %}

{% block content %}
<div style="margin-left:600px;">
    <h1>个人信息</h1>
</div>
<div class="row">
    <div style="margin-left:400px;" class="col-md-6">
        <table style="width: 100%;margin:auto" class="table">
        <tbody>
            <tr>
                <td>姓名：</td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>学号：</td>
                <td>{{ user.stuId }}</td>
                <td></td>
            </tr>
            <tr>
                <td>学院：</td>
                <td>{{ user.grade.department.academy }}</td>
                <td> {%if user.grade.department.academy.admin %} {{ user.grade.department.academy.admin }} {%endif%} </td>
            </tr>
            <tr>
                <td>系：</td>
                <td>{{ user.grade.department }}</td>
                <td>{%if user.grade.department.admin %}{{ user.grade.department.admin }}{% endif %}</td>
            </tr>
            <tr>
                <td>班级：</td>
                <td>{{ user.grade.name }}</td>
                <td>{{ user.grade.gradeId }}</td>
            </tr>
            <tr>
                <td>入学时间：</td>
                <td>{{ user.intake }}</td>
                <td></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<br/>
<a style="margin-left:400px;" href="{% url 'user_detail' %}">查看我的成绩</a>

{% endblock %}
