{% extends 'base.html'%}
{% load static %}

{% block title %}
    <title>我的个人信息</title>
{% endblock %}

{% block head_extras %}
<style type="text/css">
    .row{
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
    }
    thead{
        background-color: #7fdfd4;
        color:#eeeeee;
        font-size: 15px;
    }
    .table td,th{
        vertical-align: middle;
        text-align: center;
        color:#777777;
        font-size:15px;
        height: 60px;
        width: 1000px;
        background-color:#fafaf6;
    }
    th{
        background-color:#fbac90;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
        <tbody>
            <tr>
                <th>姓名：</th>
                <td>{{ user.name }}</td>
                <th>英文名：</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>学号：</th>
                <td>{{ user.stuId }}</td>
                <th>性别：</th>
                <td>{{ user.sex }}</td>
            </tr>
            <tr>
                <th>学院：</th>
                <td>{{ user.team.department.academy }}</td>
                <th>系：</th>
                <td>{{ user.team.department }}</td>
            </tr>
            <tr>
                <th>班级：</th>
                <td>{{ user.team.name }}</td>
                <th>班级编号：</th>
                <td>{{ user.team.gradeId }}</td>
            </tr>
            <tr>
                <th>入学时间：</th>
                <td>{{ user.intake }}</td>
                <th>预毕业时间:</th>
                <td>{{ user.leave_school_date }}</td>
            </tr>
            <tr>
                <th>所在年级：</th>
                <td>{{ user.term }}</td>
                <th>所属校区:</th>
                <td>{{ user.str_campus }}</td>
            </tr>
            <tr>
                <th>是否有学籍：</th>
                <td>{% if user.have_roll %}是{% else %}否{% endif %}</td>
                <th>是否在籍:</th>
                <td>{% if user.roll_in_school %}是{% else %}否{% endif %}</td>
            </tr>
            <tr>
                <th>是否在校：</th>
                <td>{% if user.at_school %}是{% else %}否{% endif %}</td>
                <th>学习形式:</th>
                <td>{{ user.str_method }}</td>
            </tr>
            <tr>
                <th>备注:</th>
                <td colspan=3>{{user.desc}}</td>
            </tr>
            
        </tbody>
        </table>
    </div>
</div>
<br/>
{% endblock %}

{% block js_extras %}
<script>
$('#user_detail').addClass('active')
</script>
{% endblock %}